body {
    background-color: #295068;
}

.navbar-default {
    background-color: #343A40 ;
    border-color: #343A40;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
    color:#fff;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #a6b1b9;
}

#results {
    margin-bottom: 40px;
    margin-top: 40px;
}

.footer-default {
    background-color: #343A40 ;
}

.footer-default>div>p {
    color: #a6b1b9;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel-body {
    border-bottom: solid 1px #c9cdce;
}

#details {
    margin-top: 30px;
}